{% extends "template.html" %}

{% block content %}
{% load static %}
{% comment %} información de API {% endcomment %}
<div class="container py-3">
    <p>Clima Actual en Illapel</p>
    <p>Temperatura: {{ temperatura }}°C</p>
    <p>Humedad: {{ humedad }}%</p>
</div>
<!-- Son las cards de los productos -->
<!-- Fondo + frase -->
    <div class="bgimg-1 w3-display-container w3-opacity-min" id="home" style="background-image:url('static/img/fondo.jpg');">
        <div class="w3-display-middle" style="white-space:initial;">
            <span class="w3-center w3-padding-large w3-black w3-xlarge w3-wide w3-animate-opacity">El MEJOR ENEMIGO DEL HAMBRE</span>
        </div>
    </div>
<br>
<div class="container">
    <p class="h1">Productos principales </p>
</div>
<br>
<!-- Cartas 1 -->
<div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for tmp in productos %}
        <div class="col">
            <div class="card h-100 text-center mb-3">
                <div class="card-body">
                    <img class="card-img-top" src="{{tmp.foto_producto.url}}">
                    <h2 class="py-2">{{tmp.nombre}}</h2>
                    <h3 class="py-2">{{tmp.descripcion}}</h3>
                    <h3 class="py-2">${{tmp.precio}}</h3>
                </div>
                <div class="card-footer d-flex justify-content-center">
                    <a href="{% url 'Add' pk=tmp.id_producto %}" class="btn btn-primary">Agregar al carrito</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<br>
<hr>
<br>
<!-- Promocional -->
<div class="container text-center">
    <div class="row row-cols-2">
        <div class="col"><img src="{% static 'img/catalogo2.jpg' %}" class="img-fluid" alt="...">        </div>
        <div class="col"><img src="{% static 'img/catalogo1.jpg' %}" class="img-fluid" alt="..."></div>
    </div>
</div>
<br>
<hr>
<br>
<!-- Container (QUIENES SOMOS) -->
<div class="w3-content w3-container w3-padding-64" id="about">
    <h3 class="w3-center">¿Quienes somos?</h3>
    <p class="w3-center"><em>El Callejero FoodTruck</em></p>
    <p>El Callejero Foodtruck, con siete años de trayectoria, es un ícono de la comida rápida de calidad. Su compromiso
        con el servicio al cliente se refleja en cada plato que
        preparan, utilizando ingredientes frescos y recetas perfeccionadas.Su longevidad es prueba de la confianza y
        lealtad de sus clientes, que regresan una y otra vez en busca
        de esa experiencia culinaria auténtica y acogedora que solo El Callejero puede ofrecer.</p>
</div>
<script>
    // Modal Image Gallery
    function onClick(element) {
        document.getElementById("img01").src = element.src;
        document.getElementById("modal01").style.display = "block";
        var captionText = document.getElementById("caption");
        captionText.innerHTML = element.alt;
    }


    // Used to toggle the menu on small screens when clicking on the menu button
    function toggleFunction() {
        var x = document.getElementById("navDemo");
        if (x.className.indexOf("w3-show") == -1) {
            x.className += " w3-show";
        } else {
            x.className = x.className.replace(" w3-show", "");
        }
    }
</script>
<br><br><br>
{% endblock %}