<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="text-center p-5 justify-content-center">
        <h3 class="">Adminitración Callejero</h3>
        <br>
        <br>

        <form class="d-flex" role="search" method="get">
            <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search" name="buscar">
            <button class="btn btn-outline-secondary buttonBus" type="submit">Buscar</button>
        </form>
        <br>
        <table action="{% url 'lista_pedidos' %}" method="GET" class="table table-dark table-striped" >
            {% if pedidos %}
            <thead>
                <tr>
                    <th>ID Pedido</th>
                    <th>Descripcion</th>
                    <th>Precio</th>
                    <th>Estado</th>
                    <th>Actualizar</th>
                    
                </tr>
            </thead>
                {% for tmp in pedidos %}
                    <tr>
                        <td>{{tmp.id_pedido}}</td>
                        <td>{{tmp.descripcion}}</td>
                        <td>{{tmp.precio_total}}</td>
                        <td>{{tmp.id_estado}}</td>
                    </tr>
                {% endfor %}
            {% endif %}
        </table>
    </div>
</body>
</html>